.submitButton {
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.invalidSubmit {
    background-color: ligh;
}

.validSubmit {
    background-color: green;
}

.validSubmit:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 lightgreen, -10px 10px 25px 0 lightgreen;
}

.lines {
    padding-top: 2vh;
}

.textAreaLines {
    padding-top: 2vh;
    justify-content: center;
    height: fit-content;
    display: inline-block;
}

.textAreaBox {
    margin-left: 1vw;
    height: 10vh;
    width: 30vw;
}

.buttonLine {
    padding-top: 10vh;
}


.inputBox {
    margin-left: 1vw;
}
.signUpText {
    margin-top: 45vh;
    font-style: italic;
}
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}
.signUpButton {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px; 
}
.farmerButton {
    overflow: hidden;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(225deg, #27d86c 0%, #10813f 50%, #0a473a 100%);
}
.farmerButton::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #d827bb 0%, #c921c9 50%, #c625d0 100%);
    z-index: -1;
    transition: transform .5s ease;
}
.farmerButton:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.farmerButton:hover::after {
    transform: rotate(150deg);
}
.enthusiastButton {
    overflow: hidden;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(225deg, #27afd8 0%, #1c92b3 50%, #3b44c5 100%);
}
.enthusiastButton::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #d827bb 0%, #c921c9 50%, #c625d0 100%);
    z-index: -1;
    transition: transform .5s ease;
}
.enthusiastButton:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.enthusiastButton:hover::after {
    transform: rotate(150deg);
}