.searchResultButton {
    width: 35vw;
    outline: 3px;
    outline-style: solid;
    background-color: lightgreen;
}

.searchResultButton:hover {
    cursor: pointer;
}

.searchResult {
    padding-top: 2vh;
}

.farmResult {
    list-style-type: none;
    margin-top: 5vh;
}

body {
    background-color: rosybrown;
}

.farmNameInput {
    border: 2px solid limegreen;
}


.zipInput {
    border: 2px solid limegreen;

}

.orSearchBar {
    padding: 2vh;
    font-weight: bolder;
}

.noResult {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}

