.searchResultButton {
    width: 35vw;
    outline: 3px;
    outline-style: solid;
    background-color: lightgreen;
}

.searchResultButton:hover {
    cursor: pointer;
}

.searchResult {
    padding-top: 2vh;
}

.farmResult {
    list-style-type: none;
    margin-top: 5vh;
}

body {
    background-color: rosybrown;
}